{% extends 'main_apps/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  {{ block.super }}| password-reset-confirm
{% endblock %}
{% block stylesheet %}
  <style>
  body{
  background-color: #f1f1f1;
  
  }
  </style>
  {%endblock%}
  {% block content %}
    <div class="page_container">

      {% if validlink %}
        <div class="row justify-content-center">
          <div class="col-md-6">
          <div class="w3-card">
              <div class="card-header w3-black">
                <h3 class="text-white">Set New Password</h3>
              </div>
              <div class="card-body">
                <form method="post" novalidate>
                  {% csrf_token %}

                  {{ form|crispy}}
                  <button class="btn btn-primary rounded mx-auto" type="submit">Change password</button>

                </form>
              </div>
            </div>
        </div>
        </div>
      {% else %}
       <div align="middle">
          <p style="color:red;">Invalid token.</p>
        <p>
          <a href="{% url 'password_reset' %}">Request a new password reset token</a>
        </p>
       </div>
      {% endif %}
    </div>
<br>
<br>
<br>
  {% endblock %}