{% extends 'main_apps/base.html' %}
{% block title %}
  {{ block.super }}| password-reset-done
{% endblock %}
{% block stylesheet %}
  <style>
  body{
  background-color: #f1f1f1;
  }
  </style>
  {%endblock%}
  {% block content %}
    <div class="page_container">
      <div class="jumbotron row justify-content-center alert-success">
        <div class="col">
          <p class="text-dark">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p class="text-dark">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
      </div>
    </div>
  {% endblock %}