{% extends 'main_apps/base.html' %}
{% block title %}
	{{ block.super }}| password-reset-complete
{% endblock %}
{% block stylesheet %}
	<style>
		body{
			background-color: #f1f1f1;
			
		}
	</style>
	{%endblock%}
	{% block content %}
		<div class="page_container">
			<div align="middle">
				<h2>Password changed with success!</h2>
			<p>You may now <a href="{% url 'login' %}"><button class="btn btn-sm btn-primary">login</button></a> again.</p>
			</div>
		</div>
<br>
<br>
<br>
<br>
<br>
	{% endblock %}