{% extends 'main_apps/base.html' %}
{% load crispy_forms_tags %}
{%block title%}
{{block.super}} | password-change
{%endblock%}
{% block stylesheet %}
  <style>
  .asteriskField {
  display: none;
  }
  body {
  background-color: #f1f1f1;
  
  }
  
  </style>
  {%endblock%}
  {% block content %}
    <div class="page_container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div>
            <div class="w3-card">
              <div class="card-header w3-black">
                <h3 class="text-white">Password change</h3>
              </div>
              <div class="card-body">
                <form method="post" novalidate>
                  {% csrf_token %}
                  
                  {{ form|crispy}}
                  <button class="btn btn-primary rounded mx-auto" type="submit">Change password</button>
                  
                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  {% endblock %}