{% extends 'main_apps/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }}| create-ad
{% endblock %}
{% block stylesheet %}
<style>
	
		.asteriskField {
	display: none;
	}
	form .alert ul li {
	list-style: none;
	}
	form .alert ul {
	padding: 0;
	margin: 0;
	}

</style>
{%endblock%}
{% block content %}
<div class="page_container">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'mainapp:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active">Create-Mes-Service</li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron bg-light w3-card">
                <form action="" method="post"  novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            {{ form.mes_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.mes_category|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.location|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.seat_rent|as_crispy_field }}
                        </div>
                    </div>


                    <div class="row justify-content-center ">
                        <div class="col table-responsive px-auto">
                            {{ form.description|as_crispy_field }}
                            {{ form.media }}
                        </div>
                    </div>
                    <div class="form-row mb-2">
								<div class="form-group col">
									{{ form.active|as_crispy_field }}
									<small>If you uncheck active ,your post will not visible.</small>
								</div>
							</div>
                    <button class=" btn btn-primary btn-md float-right" type="submit">Create Post</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
    {%endblock%}